{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <strong>

            &nbsp; &nbsp;

            {{record.first_name|upper}}

        </strong>

        <hr>

        <div class="card-body">

            <p><strong>ID: </strong> {{record.id}} </p>
            <p><strong>Наименование: </strong> {{record.first_name}} </p>
            <p><strong>Инв. №: </strong> {{record.inv_num}} </p>
            <p><strong>Сер. №: </strong> {{record.ser_num}} </p>
            <p><strong>Местонахождение: </strong> {{record.place_pass}} </p>
            <p><strong>Статус: </strong> {{record.status_pass}} </p>
            <p><strong>Дата создания: </strong> {{record.creation_date}} </p>

        </div>

    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Назад</a>

    &nbsp;

    <a href="{% url 'update-record' record.id %}" class="btn btn-info">Обновить</a>

    &nbsp;

    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger">Удалить</a>


{% endblock %}